.square{
    margin: 150px 0;

    width: 100px;
    height: 100px;
    background: red;

    cursor: default;

    transition: all .3s;
    outline:none;
    caret-color: transparent;

    &.square:focus{
        background:blue;
    }
}


.slider{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.overflow{
    overflow: hidden;
    scroll-behavior: smooth;

    width: 500px;
    height: 500px;

    box-shadow: inset 0 0 10px 25px black;
}

.grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100%);
}

.grid img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-button{
    position: absolute;
    bottom: 20px;

    display: flex;
    gap: 20px;

}

.container-button a{
    width: 20px;
    aspect-ratio: 1/1;

    background: blueviolet;


}

a:focus{
    background: red;
}